h1.title-product { /* page titles */
	display: none;
}

#d-slide-container-wrapper {
	padding: 0;
	width: 960px;
	float: left;
	height: 320px;
	overflow: hidden;
	background: #01262E url('images/slider-back.jpg') no-repeat top left;
	position: relative;
	color: #fff;
}

#d-slide-container {
	float: left;
	height: 262px;
	margin: 0;
	overflow: hidden;
	width: 960px;
}
#d-slide-right,
#d-slide-left {
  cursor: pointer;
  float: left;
  height: 16px;
  margin: 22px 7px 0;
  width: 16px;
}
#d-slide-left {
	background: transparent url(images/arrow.png) no-repeat 0 -30px;
}

#d-slide-left:hover {
  background: transparent url(images/arrow.png) no-repeat 0 -45px;
}
#d-slide-right {
  background: transparent url(images/arrow.png) no-repeat 0 0px;
}

#d-slide-right:hover {
  background: transparent url(images/arrow.png) no-repeat 0 -15px;
}

#d-slide-status-bar {
  background: url("images/progress-bar.gif") no-repeat scroll right center transparent;
  color: #FFFFFF;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 14px;
  height: 34px;
  line-height: 33px;
  padding-right: 50px;
  position: absolute;
  right: 64px;
  text-align: right;
  top: 274px;
  width: 160px;
  display: none;
}

/** PREVIEW AREA **/
div#d-slide-preview {
	float: left;
	width: 900px;
	padding: 0;
	overflow: hidden;
	height: 58px;
}

div.d-slide-preview {
	float: left;
	margin: 0;
	padding: 0;
	width: 300px;
	height: 58px;
	cursor: pointer;
	background: transparent url("images/preview.jpg") no-repeat top right;
}

div.slider-preview-image {
	float: left;
	margin-right: 10px;
}

div.slider-preview-image img {
	width: 35px;
	height: 35px;
	border: 1px solid #C2C9CF;
}

div.slider-preview-content h1 {
	font-size: 16px;
	font-weight: normal;
	line-height: 110%;
	overflow: hidden;
	color: #FAB609;
	padding: 0;
	text-transform: capitalize;
}

div.slider-preview-body {
	font-size: 11px;
	line-height: 120%;
}
/** The active class state for the preview item **/
div.d-slide-preview.active-preview,div.d-slide-preview.active-preview:hover
	{
	background: transparent url("images/preview.jpg") no-repeat center right;
}

div.d-slide-preview:hover {
	background: transparent url("images/preview.jpg") no-repeat bottom right;
}

.d-slide-content {
	overflow: hidden;
}

.slider-preview-wrapper {
	height: 38px;
	overflow: hidden;
	padding: 10px;
}

/** Slider image & content **/
.slider-image {
	width: 340px;
	padding: 20px 47px 0 5px;
	height: 223px;
	float: right;
}

.slider-image img {
	border: 1px solid #AACBD2;
	width: 338px;
	height: 221px;
}

.slider-content {
	width: 520px;
	padding: 30px 20px 0;
	height: 203px;
	float: left;
	font-size: 24px;
	text-transform: capitalize;
}

.slider-content h1 {
  font-size: 28px;
  font-weight: normal;
  line-height: 110%;
  text-shadow: 1px 1px 1px #ACB6B8;
}

.slider-content h1,.slider-content a,.slider-content a:link,.slider-content a:visited
	{
	color: #fff;
}
.slider-content p, .slider-body {
  color: #233E49;
  font-size: 18px;
  text-shadow: 0 0 1px #4F5C62;
}