#d-slide-container-wrapper {
float: left;
height: 250px;
padding: 0;
position: relative;
width: 960px;
}
#d-slide-container {
float: left;
height: 250px;
overflow: hidden;
position: relative; /** fix for overflow not hidden in IE **/
width: 880px; 
margin: 0 40px;
}
/** IMPORTANT TO HIDE THE SCROLLED OBJECT **/
.d-slide-content {
overflow: hidden;
float: left;
height: 250px; /** must match the #d-slide-container-wrapper height to prevent the next element showing **/
width: 880px; /** must match the #d-slide-container-wrapper width to prevent the next element showing **/
/** the following css code is important for title animated feature **/
position: relative;
z-index: 10;
/** end important feature **/
}

div.slider-image {
float: right;
margin: 5px 0 15px;
height: 220px;
width: 400px;
/** The following css code is important for animated title and body feature **/
z-index: 15;
/** end important feature **/
}
div.slider-image img {
height: 220px; /** This is best if is done from imagecache **/
width: 400px; /** This is best if is done from imagecache **/
}
div.slider-content {
float: left;
height: 220px;
margin: 5px 20px 15px 0;
width: 460px;
z-index: 100;
}
div.slider-content h1 a,
div.slider-content h1 {
line-height: 120%;
color: #FEEC8A !important;
text-transform: uppercase;
font-size: 1.5em;
}

div.slider-body {
font-size: 1.5em;
color: #fff;
text-transform: capitalize;
font-family: 'Milford', helvetica;
line-height: 110%;
}
/** BUTTON **/
div#d-slide-left,
div#d-slide-right {
position: absolute;
top: 45%;
width: 23px;
height: 30px;
cursor: pointer;
}
div#d-slide-left {
left: 0px;
display: none;
background: transparent url('images/arrow-set.png') no-repeat left 0px;
}
div#d-slide-left:hover {
background: transparent url('images/arrow-set.png') no-repeat left -30px;
}
div#d-slide-right {
right: 0px;
display: none;
background: transparent url('images/arrow-set.png') no-repeat left -60px;
}
div#d-slide-right:hover {
background: transparent url('images/arrow-set.png') no-repeat left -90px;
}

#d-slide-container-wrapper:hover div#d-slide-left,
#d-slide-container-wrapper:hover div#d-slide-right { display: block;}