@if $textcolor!=false {
	body{
		color: $textcolor;
	}
}

@if $linkcolor!=false {
	.body a:not(.btn) {
		color: $linkcolor;
	}
		
	.link-bg:hover,
	.link-bg a:hover {
		background-color: $linkcolor;
	}
	
	.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, 
	.tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, 
	.tb-megamenu .nav > li.dropdown.open.active > a:hover,
	.tb-megamenu .nav > li > a:focus,
	.tb-megamenu .nav > li > a:hover,
	.tb-megamenu .nav li.dropdown.open > .dropdown-toggle,
	.tb-megamenu .dropdown-menu li > a:hover,
	.tb-megamenu .dropdown-menu li > a:focus, 
	.tb-megamenu .dropdown-submenu:hover > a,
	.tb-megamenu .dropdown-menu .active > a,
	.tb-megamenu .dropdown-menu .active > a:hover {
		color: $linkcolor;
	}
	

}

@if $hovercolor!=false {
	.body a:hover {
		color: $hovercolor;
	}
}

@if $headingcolor!=false {
	h1,h2,h3,h4,h5,h6 {
		color: $headingcolor;
	}
	
	.body h2 a {
		color: $headingcolor;
	}
}