h1.title-product {                                        /* page titles */
  clear: left;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1.833em;
  font-weight: 600;
  line-height: 1.272em;
  padding-right: 20px;
  padding-top: 5px;
  color: #fff;
  }

#d-slide-container-wrapper {
padding: 0;
width: 600px;
float: left;
border: 1px solid #e1e1e1;
}
#d-slide-container {
width: 560px;
margin: 20px;
height: 300px;
overflow: hidden;
float: left;
}
#d-slide-left {
float: left;
width: 34px;
height: 34px;
background: transparent url('images/arrow-left.png') no-repeat center;
}
#d-slide-right {
float: right;
width: 34px;
height: 34px;
background: transparent url('images/arrow-right.png') no-repeat center;
}

#d-slide-status-bar {
width: 532px;
float: left;
height: 34px;
background: transparent url('images/progress-bar.gif') no-repeat center center;
display: none;
}

/** PREVIEW AREA **/
div#d-slide-preview {
float: left;
width: 98%;
padding: 1%;
overflow: hidden;
border-top: 1px solid #eaeaea;
border-bottom: 1px solid #eaeaea;
height: 88px;
}
div.d-slide-preview {
float:left;
margin:2px;
padding:2px;
width:185px;
border: 1px solid #eaeaea;
cursor: pointer;
}

div.slider-preview-image {
float: left;
border: 1px solid #eaeaea;
padding: 1px;
margin-right: 10px;
}

div.slider-preview-content h1 {
font-size: 12px;
font-weight: bold;
line-height: 120%;
overflow: hidden;
}

div.slider-preview-body {
font-size: 12px;
line-height: 120%;
}
/** The active class state for the preview item **/

div.active-preview {
border: 1px solid #ccc;
background: #f8f8f8;
}

.d-slide-content {
overflow: hidden;
}