h1.title-product { display: none;}

#d-slide-container-wrapper {
float: left;
height: 370px;
padding: 0;
position: relative;
width: 960px;
}
#d-slide-container {
float: left;
height: 330px;
overflow: hidden;
position: relative; /** fix for overflow not hidden in IE **/
width: 840px; 
margin: 0 16px 0 22px;
}
/** IMPORTANT TO HIDE THE SCROLLED OBJECT **/
.d-slide-content {
overflow: hidden;
float: left;
height: 330px; /** must match the #d-slide-container-wrapper height to prevent the next element showing **/
width: 840px; /** must match the #d-slide-container-wrapper width to prevent the next element showing **/
/** the following css code is important for title animated feature **/
position: relative;
z-index: 10;
/** end important feature **/
}

div.slider-image {
float: left;
margin: 10px;
height: 310px;
width: 334px;
/** The following css code is important for animated title and body feature **/
z-index: 15;
/** end important feature **/
}
div.slider-image img {
height: 310px; /** This is best if is done from imagecache **/
width: 334px; /** This is best if is done from imagecache **/
}
div.slider-content {
float: right;
height: 260px;
line-height: 110%;
margin-top: 20px;
width: 440px;
z-index: 100;
}
div.slider-content h1 a,
div.slider-content h1 {
color: #898989;
font-size: 2.0em;
line-height: 120%;
margin: 0 0 20px;
}

div.slider-body {
font-size: 14px;
}
/** CONTROLLER BUTTON WRAPPER **/
div#d-slide-controller {
bottom: 54px;
height: 30px;
position: absolute;
right: 100px;
width: 440px;
z-index: 11;
}
/** BUTTON **/
div#d-slide-left,
div#d-slide-right {
float: right;
width: auto;
}
/** PREVIEW AREA **/
div#d-slide-preview {
float: right;
height: 280px;
margin: 15px 0 15px 10px;
overflow: hidden;
width: 60px;
z-index: 19;
}
div.d-slide-preview {
cursor: pointer;
float: left;
height: 60px;
margin: 5px 0;
overflow: hidden;
width: 60px;
}

div.slider-preview-image:hover {
border: 1px solid #C4DF9B;
}
div.slider-preview-image img {
width: 58px; /** This is best if is done from imagecache **/
height: 58px; /** This is best if is done from imagecache **/
}
div.slider-preview-image {
height: 58px;
width: 58px;
border: 1px solid #F7941D;
background: #fff;
overflow: hidden;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}

div.slider-preview-image h1 {
text-transform: uppercase;
font-size: 3em;
line-height: 58px;
text-align: center;
}

