h1.title-product { /* page titles */
  display: none;
}

#d-slide-container-wrapper {
  float: left;
  height: auto;
  overflow: hidden;
  padding: 0;
  width: 100%;
  background: #000;
}

#d-slide-container {
  height: auto;
  margin: 0;
  overflow: hidden;
  width: 100%;
  position: relative;
  min-height: 300px;
}

#d-slide-status-bar {
  background: url("images/progress-bar.gif") no-repeat scroll right center
    transparent;
  color: #FFFFFF;
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  height: 34px;
  line-height: 33px;
  padding-right: 50px;
  position: absolute;
  right: 24px;
  text-align: right;
  top: 294px;
  width: 160px;
}

/** Slider image & content **/
.slider-image {
  float: right;
  height: auto;
  padding: 0;
  width: 100%;
  background: #222;
}

.slider-image img {
  width: 100%;
  height: auto;
  padding: 0 !important;
  border: none !important;
}

.slider-content {
  bottom: 0;
  font-size: 12px;
  height: auto !important;
  left: 0;
  padding: 10px 0;
  position: absolute;
  width: 100% !important;
  background: transparent url('images/nice-menu.png') repeat;
}

.slider-content h1 {
  font-size: 1.5em;
  font-weight: normal;
  line-height: 110%;
}
.slider-content h1,
.slider-content .slider-body {
  padding: 0 15px;
  color: #fff !important;
}
/* Mobile */
@media handheld , only screen and (max-width: 767px) {
  .slider-content {
    position: static;
    float: left;
  }
}

/** New effect **/
#d-slide-container-wrapper.fade .slide-in,
#d-slide-container-wrapper.explode .slide-in {
  position: absolute;
  z-index: 0;
}

#d-slide-container-wrapper.fold .slide-in {
  float: left;
  z-index: 1;
}  
#d-slide-container-wrapper.clip .slide-out,
#d-slide-container-wrapper.fold .slide-out,
#d-slide-container-wrapper.fade .slide-out,
#d-slide-container-wrapper.explode .slide-out {
  position: absolute;
  z-index: 20;
}