
.menu li.with-sub:hover:before,
.menu > li:before, .menu a.active:before {
	background: #5489de;
}

.b-social.social-header a:hover,
.menu a.active {
	color: #5489de;
}

.btn.colored {
	background: #5489de url(../../img/btn-bg.png) repeat-x top;
	border: 1px solid #4e83d9;

	color: #fff;
	text-shadow: 0 -1px 0 #3263cd;
}

.btn.colored:hover { 
	background: #3263cd url(../../img/btn-bg.png) repeat-x top;
	box-shadow: 0 1px 3px #dde7f8;
	border: 1px solid #3263cd;

	color: #fff;
	text-shadow: 0 -1px 0px #3263cd;
}

.icon-box i.colored {
	background: #32ba55;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	border: 1px solid #2cb14f;

	color: #edffdf;
	text-shadow: 0 1px 1px #36a42c;
}

.m-alt .spoiler-title.active:before {
	background: #5489de url(../../img/btn-bg.png) repeat-x top;
	border: 1px solid #4e83d9;

	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	
	color: #fff;
	text-shadow: 0 -1px 0 #3263cd;
}

.progress-line {    
	background-color: #5489de;
}

.tp-caption span a {
	color: #5489de;
}

.bullet.selected {
	background: #5489de !important;
}

.tp-leftarrow.default:hover, .tp-rightarrow.default:hover {
	background: rgba(84,137,222,0.9) !important;
}

.submenu li:hover {
	background: #5489de;
	border-top: 1px solid #5489de;
	border-bottom: 1px solid #5489de;
}

.link-overlay:before {
	background: rgba(250,250,250,0.95);
}

.blockquote:before {
	color: #5489de;
}

a {
	color: #5489de;
}

a.dark-link:hover {
	color: #5489de;
}

a.work-name:hover {
	color: #5489de;
}

.news-title a:hover {
	color: #5489de;
}

.just-links.m-dark a:hover {
	color: #5489de;
}

.b-tag-cloud a:hover,
.b-tag-cloud.m-dark a:hover {
	background: #5489de url(../../img/btn-bg.png) repeat-x top;
	border: 1px solid #4e83d9;

	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	
	color: #fff;
	text-shadow: 0 -1px 0 #3263cd;
}

.b-twitter.m-footer a {
	color: #5489de;
}

.tp-caption.m-text-color span {
	padding: 0 !important;
	color: #5489de;
}

.tp-caption.m-bg-color span {
	background-color: rgba(84,137,222,0.9) !important;
	color: #fff;
}

.b-filter-list li.active {
	color: #5489de;
}

.b-filter-list li.active:before {
	height: 2px;
	background: #5489de;
}

.carousel-prev:hover, .carousel-next:hover {
	background: rgba(84,137,222,0.9);
}

.carousel-pagination li.active {
	background: #5489de;
}

.recent-post a {
	color: #5489de;
}

.b-categories a {
	color: #5489de;
}

.b-twitter.m-footer a {
	color: #5489de;
}

a.link {
	color: #5489de;
}

.pagination a:hover {
	background: #5489de url(../../img/btn-bg.png) repeat-x top;
	border: 1px solid #4e83d9;

	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	
	color: #fff;
	text-shadow: 0 -1px 0 #3263cd;
}

.pagination a.active {
	background: #f5f5f5;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.07);
	border-color: #d9d9d9;
}

.pagination a.active:hover {
	text-shadow: 0 1px 0 white;	
	color: #424346;
}

.post-meta a:hover {
	color: #5489de;
}

*::-moz-selection {
	background-color: #5489de !important;
	color: #fff;
}

*::selection {
	background-color: #5489de !important;
	color: #fff;
}

.b-user-info:before {
	border-top: 2px solid #5489de;
}

.btn-reply.cancel-reply {
	background: #5489de url(../../img/btn-bg.png) repeat-x top;
	border: 1px solid #4e83d9;

	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	
	color: #fff;
	text-shadow: 0 -1px 0 #3263cd;
}

.crumbs a:hover {
	color: #5489de;
}

p.intro strong.colored {
	color: #5489de;
}

.contact-mail a {
	color: #5489de;
}

.b-promo:before {
	border-left: 2px solid #5489de;
}

.tabs-nav li.active span:before {
	border-top: 2px solid #5489de;
}

.m-nav-left .tabs-nav li.active span:before {
	border-left: 2px solid #5489de;
}

.quote-text:before {
	color: #5489de;
}

.b-service i.m-colored,
.b-service i.m-dark:hover  {
	background: #449ed7 url(../../img/serv-bg.png) repeat-x top;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	border: 1px solid #3a92d0;

	color: #ebfaff;
	text-shadow: 0 1px 1px #3b57cc;
}

.b-list.m-circle li:before {
	background: #5489de  url(../../img/btn-bg.png) repeat-x top;
}

.b-side-nav a:hover {
	color: #5489de;
}

.b-side-nav a.active {
	border-color: #5489de;
	background: #5489de url(../../img/sidenav-bg.png) repeat-x top;
}

.b-side-nav a.active:hover {
	color: #fff;
}

.m-quad .b-social a:hover {
	background: #5489de;
}

@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {
	
	.b-tabs.m-nav-left:after, .b-tabs.m-nav-left:before {
		display: none;
	}

	.b-tabs.m-nav-left {
		border-top: none;
	}
	
	.b-tabs.m-nav-left .tabs-nav {
		float: none;
		display: block;
		top: 0;
	}
	
	.b-tabs.m-nav-left .tabs-nav li {
		width: auto;
		display: block;
		text-align: center;

		margin: 0;
	}

	.m-nav-left .tabs-nav li.active span:before {
		width: auto;

		position: absolute;
		top: -2px;	left: -21px;
					right: -21px;

		border-bottom: none;
		cursor: default;

		border-top: 2px solid #5489de;
		border-left: 0;
	}
	
}


/* ************ */
#edit-submit--2, #edit-submit--3  {
    background: url("../../img/btn-bg.png") repeat-x scroll center top #5489DE;
    border: 1px solid #4E83D9;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #3263CD;
}
#edit-submit--2:hover, #edit-submit--3:hover  {
      background: url("../../img/btn-bg.png") repeat-x scroll center top #3263CD;
    border: 1px solid #3263CD;
    box-shadow: 0 1px 3px #DDE7F8;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #3263CD;
}

#edit-submit--2, #edit-submit--3  {
     cursor: pointer;
     height: 34px;
     padding: 0 23px 0;
     border-radius: 2px;
	border: 1px solid #e2e2e2;
	border-bottom: 1px solid #dfdfdf;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);

	
	text-decoration: none;
	font: 13px/32px 'OpenSansSemiboldRegular';
	

	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;

}

a.btn {
	display: inline-block;
	margin: 0 7px 10px 0;
	padding: 0 23px 0;

	/*background: #fafafa url(../img/btn-soc.png) repeat-x top; */
	background-color: #fafafa;
	border-radius: 2px;
	border: 1px solid #e2e2e2;
	border-bottom: 1px solid #dfdfdf;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05);

	text-shadow: 0 1px 0 white;
	text-decoration: none;
	font: 13px/32px 'OpenSansSemiboldRegular';
	color: #424346;

	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

a.btn:hover {
	background-color:#edeeef;
	/*background: #edeeef url(../img/btn-soc.png) repeat-x top;*/
	border: 1px solid #d4d4d4;
	box-shadow: 0 1px 3px #ececec;
}

.sf-menu.sf-style-boson ul li:hover {
border-top: 1px solid #5489de;
 border-bottom: 1px solid #5489de;
 background-color: #5489de !important;

	}
	
.sf-menu.sf-style-boson ul li.active-trail {
	background-color: #5489de !important;
	border:none;
	
	}
	.sf-menu.sf-style-boson ul li.active-trail a {
		color:#fff;
	}
	
.sf-menu.sf-style-boson ul li {
 background: #2f3338;
 box-shadow: 0 1px 3px rgba(0,0,0,0.2);
 list-style: none;
 border-top: 1px solid #393c42;
 border-bottom: 1px solid #26292c;
 -webkit-transition: background-color 0.2s ease, border 0.2s ease, height 0.3s ease, color 0.2s ease, opacity 0.5s ease;
 transition: background-color 0.2s ease, border 0.2s ease, height 0.3s ease, color 0.2s ease, opacity 0.5s ease;

}
.work .views-field-title a:hover  {
color: #5489de;

}

.views-field-field-portfolio-tags a:hover {
color: #5489de;
}

.sf-menu.sf-style-boson ul {

border-top: 2px solid #5489de;
left: 15px !important;
margin-top: -2px;
	}

input[type="submit"] { 
	background: #5489de url(../../img/btn-bg.png) repeat-x top;
	box-shadow: 0 1px 3px #d5eff1;
	border: 1px solid #4e83d9;
     height: 34px;
padding: 0 23px 0;
cursor: pointer;
	color: #fff;
	text-shadow: 0 -1px 0 #3263cd;
margin-right: 10px;
}
.view-isotope-example li a {
color: #313538;
}
.view-isotope-example li a.selected {
color: #5489de;
}
