h1.title-product { display: none;}

body.no-sidebar #d-slide-container-wrapper {
width: 943px;
background: url("images/slider-back-full.png") no-repeat scroll left top transparent;
}
body.no-sidebar div.slider-image img,
body.no-sidebar div.slider-image,
body.no-sidebar .d-slide-content,
body.no-sidebar #d-slide-container {
width: 742px;
}
body.no-sidebar div.slider-content {
width: 687px;
}

#d-slide-container-wrapper {
background: url("images/slider-back.png") no-repeat scroll left top transparent;
float: left;
height: 287px;
padding: 8px;
position: relative;
width: 632px;
}
#d-slide-container {
float:left;
height:287px;
overflow:hidden;
width:432px;
position: relative; /** fix for overflow not hidden in IE **/
}
/** IMPORTANT TO HIDE THE SCROLLED OBJECT **/
.d-slide-content {
overflow: hidden;
float: left;
height: 288px; /** must match the #d-slide-container-wrapper height to prevent the next element showing **/
width: 432px; /** must match the #d-slide-container-wrapper width to prevent the next element showing **/
/** the following css code is important for title animated feature **/
position: relative;
z-index: 10;
/** end important feature **/
}

div.slider-image {
width: 432px;
height: 287px;
float: left;
/** The following css code is important for animated title and body feature **/
z-index: 15;
/** end important feature **/
}
div.slider-image img {
width: 432px;
height: 287px;
}
div.slider-content {
padding: 5px 45px 5px 10px;
width: 377px;
/** The following css code is important for animated title and body feature **/
height: auto; 
position: absolute;
left: 0;
bottom: 0;
z-index: 100;
/** end important feature **/
color: #fff;
font-size: 12px;
line-height: 110%;
background: transparent url('images/nice-menu.png') repeat;
}
div.slider-content h1 a,
div.slider-content h1 {
color:#fff;
line-height:120%;
}

/** PREVIEW AREA **/
div#d-slide-preview {
height: 287px;
overflow: hidden;
position: absolute;
right: 7px;
top: 8px;
width: 237px;
z-index: 19;
}
div.d-slide-preview {
background: url("images/slider-preview.png") no-repeat scroll -2px -144px transparent;
cursor: pointer;
float: left;
font-size: 10px;
height: 61px;
overflow: hidden;
padding: 5px 5px 5px 45px;
width: 187px;
}

div.d-slide-preview:hover {
background: url("images/slider-preview.png") no-repeat scroll -1px bottom transparent;
}
div.slider-preview-content h1 {
font-size: 10px;
line-height: 110%;
overflow: hidden;
color: #fff;
text-transform: uppercase;
padding: 0;
}

div.slider-preview-content {
height: 62px;
width: 187px;
overflow: hidden;
}
div.slider-preview-body {
font-size: 10px;
line-height: 110%;
color: #C6E5F0;
text-transform: capitalize;
}
/** The active class state for the preview item **/

div.active-preview {
background: url("images/slider-preview.png") no-repeat scroll left top transparent;
}

div.active-preview:hover {
background: url("images/slider-preview.png") no-repeat scroll left -72px transparent;
}