h1.title-product {                                        /* page titles */
  clear: left;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1.833em;
  font-weight: 600;
  line-height: 1.272em;
  padding-right: 20px;
  padding-top: 5px;
  color: #fff;
  }

#d-slide-container-wrapper {
width:610px;
float: left;
background: #333;
}
#d-slide-container {
float:right;
height:300px;
margin:10px;
overflow:hidden;
width:400px;
}
/** IMPORTANT TO HIDE THE SCROLLED OBJECT **/
.d-slide-content {
overflow: hidden;
float: left;
height: 300px; /** must match the #d-slide-container-wrapper height to prevent the next element showing **/
width: 400px; /** must match the #d-slide-container-wrapper width to prevent the next element showing **/
/** the following css code is important for title animated feature **/
position: relative;
z-index: 90;
/** end important feature **/
}
#d-slide-left {
float: left;
margin: 10px;
width: 35px;
height: 35px;
background: transparent url('images/arrow-left.png') no-repeat center 5px ;
opacity:0.3;
}
#d-slide-right {
float: right;
margin: 10px;
width: 35px;
height: 35px;
background: transparent url('images/arrow-right.png') no-repeat center 5px ;
opacity:0.3;
}

#d-slide-status-bar {
width:78px;
float: left;
height: 20px;
background: transparent url('images/progress-bar.gif') no-repeat center center;
display: none;
margin-top: 15px;
}
div.slider-image {
width: 400px;
height: 300px;
float: left;
/** The following css code is important for animated title and body feature **/
z-index: 95;
/** end important feature **/
}

div.slider-content {
width: 96%;
padding: 2%;
/** The following css code is important for animated title and body feature **/
height: 50px; 
position: absolute;
left: 0;
bottom: 0;
z-index: 100;
/** end important feature **/
color: #fff;
font-size: 12px;
line-height: 110%;
background: transparent url('images/nice-menu.png') repeat;
}

div.slider-content h1 {
color:#fcfcfc;
font-size:14px;
font-style:italic;
font-weight:bold;
line-height:120%;
}

/** PREVIEW AREA **/
div#d-slide-preview {
border-left:1px solid #40342A;
float:left;
height:250px;
overflow:hidden;
width:180px;
margin-top: 10px;
margin-bottom: 4px;
}
div.d-slide-preview {
cursor:pointer;
float:left;
height:54px;
margin:2px;
padding:2px;
width:170px;
overflow: hidden;
}

div.slider-preview-image {
float: left;
border: 1px solid #111;
padding: 1px;
margin-right: 10px;
/** adjust this to your imagecache preset size **/
width: 50px;
height: 50px;
/** end imagecache related setting **/
}

div.slider-preview-content h1 {
font-size: 12px;
font-weight: bold;
line-height: 120%;
overflow: hidden;
color: #666666;
}

div.slider-preview-body {
font-size: 10px;
line-height: 120%;
color: #666666;
}
/** The active class state for the preview item **/

div.active-preview {
border: 1px solid #9A2D00;
background: #000;
color: #CCCCCC;
}

div.active-preview h1 {
color: #FFFFFF;
}
